body{
    background-color: #017383;
    color:white;
    height: 100%;
}


section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#logoimg{
    height: 200px;
    width: 200px;
}

h1{
    font-size: 55px;
}

h2{
    font-size: 40px;
}

form{
    display: flex;
    flex-direction: column;
}

div{
    margin: 10px;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0 5px 0;
    width: 250px;
}

#error{
    color: red;
}

input {
    border-radius: 6px;
    border: 1px solid white;
}

a{
    color: blue;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}