body{
    background-color: #017383;
    color:white;
    font-size: 18px;
    margin:0;
    display: flex;
}


section{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

#logoimg{
    height: 200px;
    width: 200px;
}

h1{
    margin: 20px;
    font-size: 55px;
}

h2{
    font-size: 40px;
    margin: 20px;
}
form{
    display: flex;
    flex-direction: column;
}


.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px 0px;
    width: 250px;
}

#submit{
    margin:20px 0px;
}

form span {
    opacity: 0;
    font-size: 11px;
}


.errori span{
    opacity: 1;
    color: #fa1c2c;
}

.errori{
    opacity: 1;
    color: #fa1c2c;
}

.errori input, .errori #upload {
    border-color: #fa1c2c;
}

.page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border: 2px solid white;
    width: 380px;
    height: 455px;
    margin: 50px;
    border-radius: 20px;
}

.blocco{
    display: flex;
    flex-direction: column;
    align-items: self-end;

}

input {
    border-radius: 6px;
    border: 1px solid white;
}

a{
    color: blue;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}